<template>
  <header>
      <div>
          <h1 class="hola">Titulo WEB Vue</h1>
      </div>
      variableOculta = {{ variableOculta }}
      <br>nombre = {{ nombre }}
      <br>los dos valores = {{ nombre.toUpperCase() + " " 
                        + (3 * 2) + variableOculta.toLowerCase() }}
  </header>
</template>

<script>
export default {
  data() {
    return {
      variableOculta: "Variable oculta",
      nombre: "Chicho Terremoto"
    };
  }
}
</script>

<style>

</style>