<template>
  <div id="app">
<!-- Este es el CompHeader que lo llamos como nos da la gana -->
    <CompChichoTerremoto></CompChichoTerremoto>
    <img alt="Vue logo" src="./assets/logo.png">
    <HolaComp msg="Bienvenido a tu Vue.js App"/>
    <link rel="stylesheet" src="./assets/estilo.css">
    <ul>
      <li v-for="heroe in heroes" :key="heroe.id">{{ heroe.nombre }}  </li>
    </ul>
  </div>
</template> 

<script>
import HolaComp from './components/HolaMundo.vue';
// Este es el CompHeader que lo llamos como nos da la gana
import CompChichoTerremoto from './components/CompHeader';

export default {
  name: 'App',
  components: {
    HolaComp,
    CompChichoTerremoto
  },
  data() {
    return  {
    heroes: []
    }
  },
  beforeCreate() {
    let prometemeHeroes = fetch("http://localhost:8080/api/heroes");
    // Asincranemnete( Dentro de un rato) recibiremos el JSON en una callback
    prometemeHeroes.then((respuestaHttp) => {
      return respuestaHttp.json();
    }).then((data) => {
      console.log(data);
      this.heroes = data;
    })
  }
}
</script>

<style lang="scss">
@import "./assets/estilo.css";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
