<template>
  <div>
    <CmpEventos calefaccionEncendida="true"/>
  </div>
</template>

<script>
import CmpEventos from './components/CmpEventos';
export default {
  components: {
    CmpEventos
  }
}
</script>

<style>

</style>